@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

.App {
  display: grid;
  height: 100vh;
  margin-left: 12.5rem;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
}
