@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }  


* {
    --primary_color: #e7ff2c;
    background-color: #322f2f;
}
.Nav {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.Nav_title{
    font-family: 'Audiowide', cursive;
    color: var(--primary_color);
    font-size: 1.2em;
}
.searchbar {
    width: 20rem;
    height: 2rem;
    border-color: var(--primary_color);
    border-radius: 30px;
    color: white;

}
.searchbar:focus {
    border-color: var(--primary_color);
    box-shadow: var(--primary_color) 0px 5px 15px;
}
.searchlogo {
    position: relative;
    right: 25px;
    background: none;
}
.Headselect {
    border: none;
    color: white;
    -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='yellow' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 35px;

  padding: 2rem;
  padding-right: 2rem;
  }
  .Headselect:focus{
     outline: none;
  }
  .locationico{
      display: flex;
      align-items: center;
      justify-items: center;
      margin: 0;
      padding: 0;
    }
.location {
    display: flex;
    margin: 0 0;
    padding: 0 0;
    border: none;
  }

  .searchbtn{
      border: none;
      background : transparent;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='yellow' viewBox='0 0 24 24'><path d='M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z'/></svg>");
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      position: relative;
        left: -2rem;
        top: 0.2rem;
  }

  